/* ////////////////////////////////////////////////////////////// GLOBAL /////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
}

:root {
  --decoration-color: rgba(128, 128, 128, 0.457);
  --alternative-background-color: rgba(244, 244, 244, 0.829);
  --orange-color: rgb(255, 98, 41);
}

a {
  text-decoration: none;
  color: black;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

li {
  list-style: none;
}

input:focus {
  outline: none;
}

/* ////////////////////////////////////////////////////////////// MENU /////////////////////////////////////////////////////////////// */

.menu-icon {
  width: 12px;
}

.submenu-icon {
  width: 12px;
  transform: scaleX(-1);
}

#exit-menu-button {
  padding: 0.8rem;
}

#exit-menu-button > img {
  width: 1rem;
}

.menu-ver-todo {
  font-size: 0.8rem;
  padding: 1rem 1rem 1rem 0;
  cursor: pointer;
}

.menu-ver-todo:hover {
  background: #cf6909;
  background: linear-gradient(to right, #ff7b00, #cfcc00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-list {
  width: 95%;
  margin-left: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: solid 1px var(--decoration-color);
}

.menu-h {
  width: 100%;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--decoration-color);
}

.submenu-h {
  width: 100%;
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  padding-bottom: 1rem;
}

#menu-trending > h3 {
  border: none;
  margin-bottom: 0px;
}

.menu-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.menu-container-2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

.menu-container:hover,
.menu-container-2:hover {
  background: #cf6909;
  background: linear-gradient(to right, #ff7b00, #cfcc00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menu-container-span {
  font-size: 1rem;
}

#configurador-trending,
#kit-digital-trending {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  text-wrap: nowrap;
  padding-right: 0px;
}

.trending {
  font-weight: bold;
  background: #cf6909;
  background: linear-gradient(to right, #ff7b00, #cfcc00 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 0.6rem;
  padding: 0.5rem;
  border: solid 1px var(--decoration-color);
  border-radius: 5px;
}

.menu {
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: -100vw;
  padding: 1.5rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  overflow-y: auto;
  transition: left 0.3s ease;
  z-index: 1000;
}

.menu-2 {
  width: 100vw;
  max-width: 100vw;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 100vw;
  padding: 1.5rem;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  z-index: 2000;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

.menu.active {
  left: 0px;
  background-color: white;
}

.menu-2.active {
  right: -18px;
  background-color: white;
  padding: 1.5rem;
}

/* ///////////////////////////////////////////////////// MOBILE VERSION /////////////////////////////////////////////////////////// */

.header-option:hover {
  background-color: rgba(128, 128, 128, 0.148);
  border-radius: 5px;
}

#exit-menu-button:hover {
  background-color: rgba(128, 128, 128, 0.148);
  border-radius: 5px;
}

#header-container {
  margin: auto;
  max-width: 1624px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: solid 1px var(--decoration-color);
}

#logo-img-mobile,
#login-img,
#cart-img {
  width: 24px;
  margin: 0.5rem;
}

#logo-img-mobile {
  margin-bottom: 0.2rem;
}

.header-span {
  display: none;
}

#logo-img {
  display: none;
  width: 5vw;
}

#button-menu {
  display: flex;
  align-items: center;
  order: -1;
}

#button-menu > img {
  width: 38px;
}

#mi-cuenta,
#cesta {
  display: flex;
  align-items: center;
}

#search-container {
  width: 80%;
  border: solid 1px var(--decoration-color);
  border-radius: 5px;
  margin: 0 0.5rem;
}

form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0rem;
}

#search {
  width: 95%;
  border: none;
  background-color: transparent;
  padding-left: 1rem;
  height: 100%;
}

#search-button {
  border: none;
  background-color: transparent;
  padding-right: 1rem;
}

#search-button > img {
  width: 20px;
}

#header-container-2 {
  max-width: 1624px;
  margin: auto;
  padding: 5px;
  border-bottom: solid 1px var(--decoration-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(0.5rem, 4vw, 1rem);
}

#header-container-2 > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
  margin-left: 1rem;
}

#banner {
  padding: 0 1rem;
  max-width: 1624px;
  margin: auto;
  margin-top: 1rem;
}

#banner > a > picture img {
  border-radius: 20px;
  width: 100%;
}

#deals {
  max-width: 1624px;
  margin: auto;
  padding: 1rem 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  row-gap: 0.8rem;
}

.option-card {
  width: 40vw;
  max-width: 250px;
  border-radius: 15px;
}

#market {
  width: 100%;
  background-color: var(--alternative-background-color);
  display: flex;
  align-items: center;
}

#filters {
  display: none;
}

#store {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#cards {
  width: 100%;
  overflow-x: scroll;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.divContainer {
  width: 10rem;
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  padding: 0.8rem;
  gap: 0.8rem;
}

.divContainer a > img {
  width: 100%;
  align-self: center;
}

.review {
  display: flex;
  align-items: center;
}

.review span:last-child {
  font-size: 0.7rem;
}

.review span:first-of-type {
  font-size: 0.7rem;
  margin-top: 0.08rem;
}

.divContainer h5 {
  font-size: 1rem;
  color: rgb(191, 0, 25);
}

.divContainer h6 {
  font-size: 0.6rem;
  color: rgb(51, 51, 51);
}

.divContainer h4 {
  min-height: 2.5rem;
  font-size: 0.8rem;
  color: #333333;
}

.ship {
  align-self: flex-end;
  margin-top: auto;
  font-size: 0.6rem;
  color: rgb(17, 128, 0);
}

#services {
  margin: 0 1rem;
}

#services > ul {
  display: flex;
  gap: 2rem;
  max-width: 1624px;
  margin: auto;
  overflow-x: scroll;
  margin: 1rem 0;
}

#services > ul > li {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#services > ul > li > a {
  width: 100%;
  text-align: center;
}

#services > ul > li > a > span {
  font-size: 0.8rem;
}

#notices > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 1624px;
  margin: auto;
  margin: 2rem 0;
  justify-content: space-evenly;
}

#notices > ul > li > a > img {
  width: 16rem;
  border-radius: 20px;
}

#about-us {
  max-width: 1624px;
  margin: auto;
  padding: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--decoration-color);
  font-size: 0.8rem;
}

#about-us > h2,
h3 {
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

#about-us p:nth-of-type(1) {
  margin-bottom: 1rem;
}

#about-us a {
  text-decoration: underline;
}

#about-us li {
  list-style: disc;
  margin-left: 3rem;
}

#about-us :nth-of-type(5) {
  margin-bottom: 1rem;
}

#links {
  display: flex;
  flex-direction: column;
  max-width: 1624px;
  margin: auto;
  font-size: 0.8rem;
  padding: 0.5rem 1rem 1rem 1rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--decoration-color);
}

.list > button {
  width: 100%;
  font-size: 1rem;
  padding: 1rem 0 1rem 0.5rem;
  text-align: start;
}

.list ul {
  display: none;
}

.list > ul > li {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.list > ul > li > a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.list > ul > li > a > img {
  width: 1.5rem;
}

.list > ul > li:hover {
  background-color: rgba(128, 128, 128, 0.148);
  border-radius: 5px;
}

.list {
  border-bottom: 1px solid var(--decoration-color);
}

.list button:hover {
  background-color: rgba(128, 128, 128, 0.148);
  border-radius: 5px;
  cursor: pointer;
}

#list-icons {
  padding: 1rem;
}

.icons-footer img {
  width: 3.5rem;
}

#legal {
  max-width: 1624px;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
  padding: 1rem;
  font-size: 0.8rem;
}

/* ///////////////////////////////////////////////////////// MEDIA QUERIES ////////////////////////////////////////////////////////////////// */

@media (min-width: 780px) {
  #deals {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 900px) {
  .menu,
  .menu-2 {
    width: 450px;
    left: -450px;
  }

  .menu-2.active {
    left: 450px;
  }

  #filters {
    width: 100%;
    margin: 1rem;
    display: flex;
    gap: 1rem;
  }

  #filters button {
    padding: 0.5rem;
    background-color: var(--orange-color);
    border-radius: 5px;
    color: white;
  }

  button:hover {
    cursor: pointer;
  }

  #store {
    max-width: 1624px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 2rem;
  }

  #cards {
    display: flex;
    margin: 1rem;
    max-width: 1624px;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .divContainer img {
    width: 150px;
    align-self: center;
  }

  .divContainer {
    width: 180px;
    background-color: white;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }

  .ship {
    align-self: flex-end;
    margin-top: auto;
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    color: rgb(17, 128, 0);
  }

  .review {
    align-self: flex-start;
    display: flex;
  }
  .review span:last-child {
    font-size: 0.8rem;
  }

  .review span:first-of-type {
    margin-top: 0.09rem;
    font-size: 0.8rem;
    color: #333333;
    font-weight: 700;
  }

  .divContainer h5 {
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 700;
    color: rgb(191, 0, 25);
  }

  .divContainer h6 {
    font-size: 0.7rem;
    font-style: normal;
    font-weight: 700;
    color: rgb(51, 51, 51);
  }

  .divContainer h4 {
    min-height: 38px;
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    color: #333333;
  }

  .noshow {
    display: none;
  }

  #notices > ul > li > a > img {
    width: 19rem;
  }
}

@media (min-width: 1024px) {
  #deals {
    grid-template-columns: repeat(6, 1fr);
    column-gap: 0.8rem;
  }

  .option-card {
    width: 15vw;
    max-width: 240px;
  }

  #logo-img-mobile {
    display: none;
  }

  #logo-img {
    display: block;
    width: 138px;
  }

  #button-menu > img {
    width: 42px;
    margin: 0px;
  }

  #button-menu > span {
    margin-right: 0.5rem;
  }

  .header-option {
    display: flex;
    align-items: center;
  }

  #cart-img,
  #login-img {
    margin-right: 5px;
    width: 32px;
  }

  .header-span {
    display: block;
    font-size: 1rem;
  }

  #header-container {
    justify-content: space-evenly;
  }

  #search-container {
    width: 35vw;
  }

  #button-menu {
    order: 0;
  }

  #header-container-2 {
    padding: 0.5rem 2rem;
  }

  #header-container-2 p {
    width: 100%;
    flex-direction: row;
  }

  #banner {
    margin: 1rem auto;
  }

  #cards {
    overflow-x: hidden;
  }

  #services > ul {
    margin: auto;
  }

  #notices > ul {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1624px;
    margin: 3rem auto;
    justify-content: space-evenly;
  }

  #notices > ul > li > a > img {
    width: 30vw;
    max-width: 30rem;
  }

  #links {
    flex-direction: row;
    border-bottom: 1px solid var(--decoration-color);
    justify-content: space-around;
  }

  .list {
    display: flex;
    flex-direction: column;
    border-top: none;
    border-bottom: none;
    gap: 1.2rem;
  }

  .list img {
    width: 1.3rem;
  }

  #why,
  #who,
  #contactUs,
  #other,
  #our {
    font-weight: 700;
  }

  .list > ul {
    display: flex;
    flex-direction: column;
  }

  .list > ul > li {
    padding: 0.8rem;
  }

  .list:hover {
    background-color: rgba(255, 255, 255, 0);
  }

  .list > ul > li:hover {
    background-color: rgba(128, 128, 128, 0.148);
    cursor: pointer;
  }

  .comunity {
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }

  .list button:hover {
    background-color: rgba(255, 255, 255, 0);
    cursor: default;
  }
}

@media (min-width: 1670px) {
  #services > ul {
    overflow: hidden;
  }
}
